
$primary   : #e87722;
$secondary : #0d1f30;
$accent    : #1976D2;

$dark      : #0d1f30;
$dark-page : #0d1f30;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
